@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
body {
    /* font-family: "Playwrite US Trad", cursive; */
    padding-left: 0%;
    margin: 0%;
    background-color: rgb(138, 186, 207);
  
  }

nav ul  {
    list-style: none;
display: flex ;
gap: 25px;
}
.container{
    padding:0 50px ;
}
.aboutme{
    position: relative;
    z-index: 2;
  
}
.myface{
    border-radius: 20px;
    width: 80%;
     box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
} 

.razmit{
    backdrop-filter: blur(40px);
    padding: 20px;
    border-radius: 20px;
}

